@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  background-color: #eff0f1;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1025px) {
  a {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
  }

  div {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
  }
}
